@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --black: #16161d;
  --white: #fff;
  --light-color: #808080;
  --light-bg: #f5f5f8;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;
  --linkedin-color: #0e76a8;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

.btn {
  color: var(--white);
  font-weight: 400;
  font-size: 1.8rem;
  border: 0.1rem solid var(--white);
  border-radius: 10rem;
  padding: 1.5rem 4rem;
}
 
  .btn:hover {
    background: var(--black);
    color: var(--white);
}

.heading {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('images/coverone.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.home h1 {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--white);
}

.home p {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: none;
  color: var(--white);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 9%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header.active {
  background: var(--white);
  padding: 3rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header.active .logo,
.header.active .navbar a,
.header.active .menu {
  color: var(--twitter-color);
}

.header .logo {
  margin-right: auto;
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.header .logo span {
  font-weight: normal;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--white);
  margin-left: 3rem;
}

.header .menu {
  font-size: 2rem;
  color: var(--white);
  display: none;
}

.about .box-container .box .image {
  height: 40rem;
}

.about .box-container .box .image img {
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.about .box-container .box p {
  text-align: center;
  font-size: 1.85rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: var(--black);
  text-transform: none;
}

/* services */
.services {
  background: var(--light-bg);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 5rem;
}

.services .box-container .box {
  background: var(--white);
  text-align: center;
  border-radius: 1rem;
  padding: 3rem;
}

.services .box-container .box img {
  margin-bottom: 2rem;
}

.services .box-container .box h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.services .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}

.services .box-container .box:hover {
  background: var(--black);
}

.services .box-container .box:hover h3,
.services .box-container .box:hover p {
  color: var(--white);
}

.services .box-container .box:hover img {
  filter: invert(100%);
}
/* services */

/* testimonial */
.testimonials{
  padding: 20px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 40px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 25px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
/* testimonial */

/* contact */
.contact {
  background: var(--light-bg);
}

.contact .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact .box-container .box {
  width: 30rem;
}

.contact .box-container .box h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.contact .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-bottom: 2rem;
}

.contact .box-container form {
  flex: 1 1 42rem;
}

.contact .box-container form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .box-container form .inputBox input {
  width: 49%;
}

.contact .box-container form .inputBox input,
.contact .box-container form textarea {
  border-radius: 5rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.5rem;
  color: var(--black);
  margin: 0.7rem 0;
}

.contact .box-container form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 25rem;
}

.contact .box-container form .btn {
  color: var(--black);
  background: var(--white);
  border: 0.1rem solid var(--black);
  margin-top: 1rem;
}

.contact .box-container form .btn:hover {
  background: var(--black);
  color: var(--white);
}
/* contact */

/* footer */
.footer {
  text-align: center;
}

.footer .logo {
  font-size: 2rem;
  color: var(--black);
  font-weight: 700;
}

.footer .logo span {
  font-weight: normal;
}

.footer p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: gray;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
/* footer */

/* go top */
.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  width: 50px;
  height: 50px;
  background: linear-gradient(-45deg, var(--youtube-color), var(--french-rose));
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--white);
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.go-top.active {
  opacity: 0.069;
  visibility: visible;
  pointer-events: all;
}
/* go top */

/* media queries */
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .home h1 {
    font-size: 5rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 6.4rem;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    flex-flow: column;
    text-align: center;
    transform: translateX(100%);
  }

  header .navbar.show {
    transform: translateX(0);
  }

  .header .navbar a {
    color: var(--black);
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
  /* media queries */