@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --black: #16161d;
  --white: #fff;
  --light-color: #808080;
  --light-bg: #f5f5f8;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;
  --linkedin-color: #0e76a8;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

.btn {
  color: var(--white);
  font-weight: 400;
  font-size: 1.8rem;
  border: 0.1rem solid var(--white);
  border-radius: 10rem;
  padding: 1.5rem 4rem;
}
 
  .btn:hover {
    background: var(--black);
    color: var(--white);
}

.heading {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('images/coverone.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.home h1 {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: var(--white);
}

.home p {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-transform: none;
  color: var(--white);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 9%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header.active {
  background: var(--white);
  padding: 3rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header.active .logo,
.header.active .navbar a,
.header.active .menu {
  color: var(--black);
}

.header .logo {
  margin-right: auto;
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.header .logo span {
  font-weight: normal;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--white);
  margin-left: 3rem;
}

.header .menu {
  font-size: 2rem;
  color: var(--white);
  display: none;
}